# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Insert Relative to Me': 'path:insert-relative-to-me'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'path'
      'submenu': [
        { 'label': 'Insert Relative to Me', 'command': 'path:insert-relative-to-me' },
        { 'label': 'Insert Relative to ...', 'command': 'path:insert-relative-to' },
        { 'label': 'Insert Full Path', 'command': 'path:insert-full-path' },
        { 'label': 'Pull Path Up', 'command': 'path:pull-up' },
      ]
    ]
  }
]
