# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Insert Relative to Me': 'path:relativeToMe'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'path'
      'submenu': [
        { 'label': 'Insert Relative to Me', 'command': 'path:relativeToMe' }
      ]
    ]
  }
]
